<!-- Page header, body, etc -->
<h3>Video List</h3>
<ul>
{% for video in youtube_videos %}
<li>{{ video.title }} ({{ video.video_id }})</li>
{% endfor %}
</ul>
<h3>Channels list</h3>
<ul>
{% for channel in youtube_channels %}
<li>{{ channel.title }} ({{ channel.channel_id }})</li>
{% endfor %}
</ul>
<h3>Playlists</h3>
<ul>
{% for playlist in youtube_playlists %}
<li>{{ playlist.title }} ({{ playlist.playlist_id }})</li>
{% endfor %}
</ul>
<!-- Some other html code for the page -->