{% block form_label %}
    {% spaceless %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %} class="form-label">{{ label|trans({}, translation_domain) }}</label>
    {% endspaceless %}
{% endblock form_label %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} class="form-control"/>
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block file_widget %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock file_widget %}

{% block textarea_widget %}
    {% spaceless %}
        <textarea {{ block('widget_attributes') }} class="form-control">{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}

{% block submit_widget %}
    {% spaceless %}
        <input type="submit" name="{{ name }}" value="{{ label }}" class="btn btn-success btn-block" id="{{ id }}"/>
    {% endspaceless %}
{% endblock submit_widget %}

{% block choice_widget_collapsed %}
    {% spaceless %}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} class="form-control" data-placeholder="Choisissesz une option">
            {% if empty_value is not none %}
                <option value="">{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('choice_widget_options') }}
        </select>
    {% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block collection_widget %}
    {% spaceless %}
        <div class="well">
            {% if prototype is defined %}
                {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
            {% endif %}
            {{ block('form_widget') }}
        </div>
    {% endspaceless %}
{% endblock collection_widget %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }} class="row">
            {% for child in form %}
                <div class="col-xs-6 col-md-3">
                    {{ form_widget(child, {'attr': {'style': 'margin-right: 5px;'}} ) }}
                    {{ form_label(child) }}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block checkbox_widget %}
    {% spaceless %}
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {% endspaceless %}
{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-danger">
                <ul>
                    {% for error in errors %}
                        <li class="list-unstyled">{{
                    error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                            }}</li>
                        {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}